* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #5f27cd;
    padding: 16px 0;
    color: #fff;
    display: flex; /* deixa o button ao lado do texto */
    border-bottom: 16px solid #341f97;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
}

header button {
    margin-left: 16px;
}

form {
    background-color: #c8d6e5;
    padding: 24px 0;
    text-align: center;
    display: none;
}

form h2{
    margin-bottom: 16px;
}

input,
button{
    padding: 8px; /* Espaçamento interno */
    border-radius: 6px;
}

button{
    background-color: #009432; /* Cor inicial do botão */
    border: none; /* Remover borda */
    font-weight: bolder;
    text-transform: uppercase; /*tornam as letras maiúsculas*/
    color: #fff; /* Cor do texto do botão */
    cursor: pointer; /* Alterar o cursor para pointer */
}

button:hover { /* Cor do botão quando o mouse está sobre ele */
    background-color: #8edea9;
}

#botao-cancelar{
    background-color: red;
}

#botao-cancelar:hover { /* Cor do botão quando o mouse está sobre ele */
    background-color: orange;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

ul li {
    max-width: 25%;
    list-style: none; /*retira o ponto da lista*/
    position: relative;
    max-height: 280px;
    overflow-y: hidden; /*oculta o excedente da imagem que ultrapassar no eixo y*/
}

ul li img {
    width: 100%;
    height: 100%;
}

.overlay-imagem-link {
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.5); /*inserir transparencia*/
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0; /*deixa o texto do link oculto*/
    transition: all ease .5s; /*tempo que aparece o texto do link */
}

.overlay-imagem-link a {
    color: #fff;
    text-decoration: none; /*retira underline*/
}

ul li:hover .overlay-imagem-link { /*retorna o texto do link com o mouse sobre*/
    opacity: 1;
}